<!-- form to create a new post -->
<div class="form">
<%= form_for @post do |f| %>
	<%= f.text_field :title, :placeholder => "                 title" %><br/><br/>
	<%= f.text_field :description, :placeholder => "             website"%><br/><br/>
	<%= f.file_field :image, :class => "file" %><br/><br/>
	<%= f.submit %>
<% end %>
</div>
