<h1><%= @post.user.username %>
<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<%= image_tag(@post.image.url(:medium)) %>
<%= pluralize(@post.comments.count, "Comment") %>
Likes: <%= @post.get_upvotes.size %>
Dislike: <%= @post.get_downvotes.size %>
<%= link_to "Like", like_post_path(@post), method: :get %>
<%= link_to "Dislike", dislike_post_path(@post), method: :get %>

<% @comments.each do |comment| %>
<%= comment.user.username %>
<%= comment.content %>
<% end %>

<%= render partial: 'comments/form' %>

<%= link_to "Home", root_path %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete %>
