<h1><%= @post.user.username %>
<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<%= image_tag(@post.image.url(:medium)) %>

<%= link_to "Home", root_path %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete %>
